/* BASIC */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    color: white;
    min-width: 1050px;
}

body {
    height: 100vh;
    background-color: black;
}

/* header */

.nav-header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
}

.nav-header .button-container {
    margin: 0.3em;
}

.nav-header .button-container button {
    border: 0;
    border-radius: 3px;
    padding: 0.3em;
    background-color: #4A4A4A;
    color: white;
}

.nav-header .button-container button:hover {
    cursor: pointer;
}


/* main */

main {
    height: calc(100% - 135px);
}

/* footer */

.nav-footer {
    height: 85px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    background-color: #222222;
}

.nav-footer .ico-button > * {
    display: block;
}

.nav-footer .ico-button i {
    font-size: 2.5em;
    margin: 0.3em 0.5em;
}

.col-left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-ico {
    color: #4BC800;
}

.col-right {
    background-color: #4A4A4A;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-right a {
    text-decoration: none;
    color: red;
    display: block;
    height: 100%;
    line-height: 85px;
    padding: 0 1em;
}
